body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    width: 100vw;
    margin-top: 80px;
}

.footer-section {
    flex: 1;
    padding: 20px;
    min-width: 250px; /* Ensure sections stack vertically on small screens */
}

.footer-section h2,
.footer-section h3 {
    color: #fff;
}

.footer-section p,
.footer-section ul {
    color: #aaa;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 10px 0;
}

.footer-section ul li a {
    color: #aaa;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px; /* Adjust the value as needed for spacing */
}

.social-media li {
    margin-right: 10px;
}

.social-media li a img {
    width: fit-content;
    height: fit-content;
}

.footer-section p a {
    color: #aaa;
    text-decoration: none;
}

.footer-section p a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
        padding: 20px 10px;
    }

    .social-media {
        justify-content: center;
    }

    .footer-section ul {
        padding-left: 0;
    }

    .footer-section ul li {
        margin: 5px 0;
    }
}
